.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    padding: 11px 16px;
    font-weight: 600;
    border-radius: 0;
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
